
.container{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main{
    display: flex;
}

.overlay{
    display: flex;
    align-items: center;
    justify-content: center
}

.info{
    position: relative;
    z-index: 10;
    
    gap: 50px;
    align-items: center;
    padding: 140px 60px;
    color: #fff;
}

.info h1{
    font-size: 70px;
    margin-bottom: 20px;
}

.info p{
    width: 600px;
    line-height: 1.8;
}

img{
    width: 320px;
    border-radius: 20px;
}
